<% if(isLoggedIn && user && user.userType === 'guest') { %>

<form action="/favourites" method="POST" class="mt-4 ml-8">
  <input type="hidden" name="homeId" value="<%= home._id %>">

  <button
    type="submit"
    class="px-6 py-2 bg-gradient-to-r from-green-500 to-emerald-600
           text-white font-semibold rounded-lg shadow-md hover:from-green-600 hover:to-emerald-700 transition">
    Add to Favourites
  </button>
</form>
<% } %>